*{
  margin:0px;
  padding:0px;
}
html,body{
  width: 100%;
  height: 100%;
}

.nav{
  display: flex;
  background-color: lightseagreen;
  justify-content: space-between;
  padding:20px 40px;
}

.nav2{
  display: flex;
  gap:30px;
}